@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ProductSans';
  src: url('../fonts/ProductSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'ProductSans', sans-serif;
}